html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Globales */

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  color: #3b4754;
  font-weight: 700;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: min(90%, 117.6rem);
  margin: 0 auto;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: #fcfcfc;
  display: block;
  background-color: #29323d;
  width: fit-content;
  padding: 2.7rem 5.5rem;
}

.btn-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: #29323d;
  border: 3px solid #29323d;
  border-radius: 7px;
  display: block;
  background-color: #ffffff;
  width: fit-content;
  padding: 2.7rem 5.5rem;
}

.dots {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 6rem;
}

.dots div {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #c9d3dd;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.dots div:hover {
  transform: scale(1.5);
  background-color: #29323d;
  cursor: pointer;
}

/* Utilidades */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Header */

.header {
  background-color: #ffffff;
}

.header-flex {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 12rem;
}

.redes-sociales {
  display: flex;
  gap: 3rem;
}

.redes-sociales img {
  width: 3rem;
}

/* Hero */

.hero {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-info {
  height: 54.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-info h1 {
  width: 53rem;
}

.hero-info p {
  font-size: 2.6rem;
  color: #8396aa;
  margin: 1rem 0 5.8rem 0;
}

/* Speakers */

.speakers {
  margin-top: 6rem;
  margin-bottom: 9.5rem;
}

.speakers h2 {
  margin-bottom: 2.7rem;
}

.speakers > p {
  width: 56rem;
  margin-inline: auto;
  margin-bottom: 5rem;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1.5;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 9.5rem;
  margin-inline: 3.3rem;
}

.speaker img {
  width: min(20rem, 100%);
  border-radius: 1rem;
  margin: 0 0 2.5rem 0;
}

.speaker p {
  width: 20rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #8194a9;
}

.speaker a {
  font-size: 2rem;
  color: #8194a9;
}

/* Agenda */

.agenda {
  border-top: 0.1rem solid #e1e1e1;
  padding-top: 7.5rem;
  margin-bottom: 9.5rem;
}

.agenda-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.agenda-info {
  grid-column: 1 / 2;
}

.agenda-info h2 {
  margin-bottom: 5rem;
}

.agenda-info p {
  width: 41.5rem;
  margin-bottom: 5rem;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1.5;
}

.agenda-horario-grid {
  grid-column: 3 / 7;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 4rem;
}

.agenda-hora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agenda-hora p {
  width: 12.3rem;
  font-size: 2.1rem;
  font-weight: 900;
  text-align: center;
  background-color: #edf0f4;
  padding: 1rem;
  border-radius: 15px;
}

.agenda-detalle p:nth-child(1) {
  font-size: 2.1rem;
  font-weight: 900;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.agenda-detalle p:nth-child(2) {
  font-size: 2rem;
  color: #8194a9;
  padding-left: 1rem;
  margin-top: 0;
}

.agenda-linea {
  width: 0.6rem;
  height: 100%;
  background-color: #edf0f4;
}

/* Call To Action (CTA) */

.cta {
  border-top: 0.1rem solid #e1e1e1;
  padding-top: 7.5rem;
  margin-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h1 {
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.cta p {
  color: #8194a9;
  margin-bottom: 5.7rem;
  font-size: 2rem;
}

/* Testimoniales */

.testimoniales {
  border-top: 0.1rem solid #e1e1e1;
  padding-top: 7.5rem;
  margin-bottom: 9.5rem;
}

.testimoniales h2 {
  text-transform: capitalize;
}

.testimoniales-grid {
  display: grid;
  grid-template-columns: 1fr 56.6rem 1fr;
  column-gap: 5.4rem;
  align-items: center;
  margin-top: 9rem;
}

.testimonial-empty {
  height: 31rem;
  background-color: #edf0f4;
}

.testimonial-empty:first-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.testimonial-empty:last-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.testimonial {
  height: 31.5rem;
  border: 0.3rem solid #e1e1e1;
  border-radius: 1rem;
  padding: 3.5rem;
  box-shadow: 0px 5px 11px -4px #d6d6d6;
}

.testimonial p:first-child {
  font-size: 2.3rem;
  font-style: italic;
  color: #8194a9;
  width: 46rem;
  line-height: 1.5;
  margin-top: 0;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2.5rem;
  align-items: center;
}

.testimonial-grid img {
  width: 9rem;
  max-width: unset;
}

.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-info p:first-child {
  font-size: 1.9rem;
  font-weight: 900;
  font-style: normal;
  color: #3b4754;
  margin-block: 0;
}

.testimonial-info p:last-child {
  margin: 0.6rem 0 0 0;
}

/* Ubicación */

.ubicacion {
  border-top: 0.1rem solid #e1e1e1;
  padding-top: 9rem;
  margin-bottom: 9.9rem;
}

.ubicacion-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
}

.ubicacion-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ubicacion-info p {
  width: 37rem;
  line-height: 1.5;
  margin-bottom: 6rem;
  font-size: 2rem;
}

.ubicacion-info img {
  width: 100%;
}

.ubicacion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sponsors */

.sponsors {
  border-top: 0.1rem solid #e1e1e1;
  padding-top: 9rem;
  margin-bottom: 9.9rem;
}

.sponsors h2 {
  margin-bottom: 4rem;
}

.sponsors p {
  color: #8194a9;
  font-size: 2.2rem;
  margin-bottom: 5.3rem;
}

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
}

.sponsors-grid img {
  width: 20.3rem;
  height: 10.2rem;
  object-fit: cover;
  max-width: unset;
  border-radius: 1rem;
}
